@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Overlock+SC&display=swap");

:root {
  /* Colour variables */
  --app-black: #2b2d42;
  --app-grey: #8d99ae;
  --app-light: #edf2f4;
  --app-white: ivory;
  --app-red: #ef233c;
  --app-crimson: #d90429;

  /* Backgrounds */
  --primary-bg: var(--app-white);
  --secondary-bg: var(--app-light);
  --third-bg: var(--app-grey);
  --inverse-bg: var(--app-black);

  /* Text */
  --primary-txt: var(--app-black);
  --light-txt: var(--app-grey);
  --loud-txt: var(--app-crimson);
  --link-txt: var(--app-grey);
  --heading-txt: var(--app-red);
  --subheading-txt: var(--app-grey);

  /* Borders */
  --border-clr: var(--app-light);
  --border-sz: 1px;
  --border-sol: solid;
  --border-fcs: var(--app-grey);

  /* Typography */
  --primary-font: "Nunito", Arial, Helvetica, sans-serif;
  --heading-font: "Overlock SC", cursive;
  --base-font-sz: 14px;
  --font-sz: 1em;
  --base-line-height: 1.5;

  /* Layout */
  --margin: 1em;
  --padding: 1em;
}

body {
  background: var(--primary-bg);
  font-family: var(--primary-font);
  font-size: var(--base-font-sz);
  line-height: var(--base-line-height);
}

h1,
h2,
h3,
p {
  color: var(--primary-txt);
}

h1 {
  font-size: calc(var(--font-sz) * 1.8);
}

h2 {
  font-size: calc(var(--font-sz) * 1.6);
}

h3 {
  font-size: calc(var(--font-sz) * 1.4);
}

p {
  font-size: calc(var(--font-sz) * 1.2);
}

a,
a:link,
a:visited {
  color: var(--link-txt);
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom: calc(var(--border-sz) * 3) var(--border-sol) var(--app-crimson);
}

/* Navbar components */

.logo {
  display: flex;
  align-items: center;
  font-family: var(--heading-font);
  color: var(--light-txt);
}

.logo span:nth-child(2) {
  color: var(--loud-txt);
  font-size: calc(var(--font-sz) * 1.25);
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
}

.nav-links a,
.slider-links a {
  text-decoration: none;
  border-bottom: none;
  color: var(--primary-txt);
  font-size: calc(var(--font-sz) * 1.3);
}

.nav-links a:hover {
  color: black;
}

.nav-links a:nth-child(2) {
  margin-left: var(--margin);
}

.menu-btn {
  display: none;
  height: 32px;
  width: 32px;
}

.desktop-nav-link-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  background-color: var(--secondary-bg);
  padding: calc(var(--padding) * 1.5);
  padding-bottom: calc(var(--padding) * 6);
}

/* media queries */

@media only screen and (max-width: 767px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-buttons {
    display: none;
  }
}
