
:root {
  /* App primary colours */
  --app-black:        #212121;
  --app-dark-blue:    #303f9f;
  --app-blue:         #3f51b5;
  --app-light-blue:   #c5cae9;
  --app-pink:         #ff4081;
  --app-grey:         #727272;
  --app-light-grey:   #b6b6b6;
  --app-lighter-grey: #ebebeb;
  --app-white:        #ffffff;

  /* Background colours */
  --primary-bg:   #ffffff;
  --secondary-bg: #f5f5f5;
  --third-bg:     #ebebeb;
  --fourth-bg:    #cccccc;
  --fifth-bg:     #727272;       
  --inverse-bg:   #303f9f;

  /* Text colours */
  --primary-txt: #212121;
  --light-txt:   #727272;
  --loud-txt:    #212121;
  --inverse-txt: #ffffff;
  --heading-txt: #303f9f;

  /* Link colours */
  --primary-link-colour:       #3f51b5;
  --primary-link-colour-hover: #727272;

  /* Border colours */
  --primary-border-colour:   #b6b6b6;
  --secondary-border-colour: #3f51b5;
}

body {
  color: var(--primary-txt);
  background-color: var(--third-bg);
  font-size: 16px;
}

a, a:link, a:visited {
  color: var(--primary-link-colour);
}

a:hover {
  color: var(--primary-link-colour-hover);
}


/* Navigation */

.app-navbar {
  background-color: var(--app-blue);
}

.app-navbar-brand a:link,
.app-navbar-brand a:visited,
.app-navbar-brand a:hover,
.app-navbar-brand a:active {
  color: var(--inverse-txt);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.04rem;
  word-spacing: 0.08rem;
}

#basic-navbar-nav a,
#basic-navbar-nav a:link,
#basic-navbar-nav a:visited {
  color: var(--inverse-txt);
  text-transform: capitalize; 
}

#basic-navbar-nav a:hover,
#basic-navbar-nav a:active {
  color: var(--app-lighter-grey);
}

.navbar-toggler {
  background-color: var(--app-blue);
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

/* Footer */
.app-footer {
  text-align: center;
  color: var(--app-lighter-grey);
  background-color: var(--fifth-bg);
  padding: 2rem 0 6rem 0;
}

.app-footer Button {
  border: none;
  padding: 0 0 4px 3px;
  color: var(--app-lighter-grey);
}

.app-footer Button:hover {
  color: var(--app-white);
}

.app-footer-icon {
  vertical-align: middle;
}

.app-footer-credits {
  font-size: 0.75rem;
  margin-bottom: 0;
}

.app-footer-credits a,
.app-footer-credits a:link,
.app-footer-credits a:visited {
  color: var(--app-lighter-grey);
  border-bottom: 1px solid var(--app-lighter-grey);
}

.app-footer-credits a:hover,
.app-footer-credits a:active {
  color: var(--app-white);
  border-bottom: none;
  text-decoration: none;
}